.main {
  margin: 0 auto;
  max-width: 60%;
}

@media screen and (max-width: 768px) {
  .main {
    max-width: 95%;
  }
}

@media screen and (max-width: 415px) {
  .main aside {
    padding: 0;
  }
}

.main .product__main {
  padding-left: 0;
}

@media screen and (max-width: 415px) {
  .main .product__main {
    padding: 0;
  }
}

.widget {
  background: #f9f9f9;
  border: 1px solid #bebebd;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  margin-bottom: 28px;
  -webkit-box-shadow: 0 0 2px #c9c8c8;
          box-shadow: 0 0 2px #c9c8c8;
}

.widget__title {
  background: #fff;
  border-bottom: 1px solid #bebebd;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  font-size: 16px;
  color: #444c57;
  padding: 15px 20px;
  -webkit-box-shadow: 0 0 2px #c9c8c8;
          box-shadow: 0 0 2px #c9c8c8;
}

.widget__title.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.widget__title--small {
  background: #eee;
  padding: 6px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widget__title-sort .vertical-rule {
  padding: 0 4px;
  border-right: 1px solid #7c8490;
}

.widget__title-sort .vertical-rule:last-child {
  border-right: 0;
}

.widget__content {
  color: #7c8490;
  padding: 15px 20px;
}

.widget__content.product {
  padding: 0;
  border-bottom: 1px dashed #7c8490;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .widget__content.product {
    display: block;
  }
}

.widget__content.product:last-child {
  border-bottom: 0;
}

.widget__content .product__additional-features {
  cursor: pointer;
  margin-top: 15px;
}

.widget__content .product__additional-features.close {
  color: #378eef;
}

.widget__content .product__additional-features.open {
  color: #f08643;
}

.widget__content .product__additional-features:hover {
  color: #f08643;
}

.widget__content .product__additional-features__list {
  list-style: disc;
  margin-left: 30px;
  margin-bottom: 15px;
}

.widget__content .product__additional-features__list.close {
  -webkit-animation: animateOut .2s ease-out 0.1s forwards;
          animation: animateOut .2s ease-out 0.1s forwards;
}

@-webkit-keyframes animateOut {
  from {
    height: 100px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

@keyframes animateOut {
  from {
    height: 100px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

.widget__content .product__additional-features__list.open {
  height: 100px;
  margin-top: 15px;
  opacity: 1;
}

.widget__content .product-title {
  margin-bottom: 11px;
}

.widget__content .product-title .vertical-divider {
  margin: 0 10px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .widget__content .product-title .vertical-divider {
    margin: 0px 3px;
  }
}

@media screen and (max-width: 415px) {
  .widget__content .product-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
}

.widget__content .product__tag {
  padding: 1px 10px;
  color: #fff;
  background: #434b56;
  font-size: 12px;
  border-radius: 3px;
  margin-left: 6px;
}

.widget__content .product__info {
  padding-top: 26px;
  padding-bottom: 0;
}

.widget__content .product__price {
  background: #F3F3F3;
  padding: 26px 15px;
  text-align: center;
}

.widget__content .ant-slider-rail {
  background-color: #E7E7E7;
  height: 10px;
  border-radius: 4px;
}

.widget__content .ant-slider-track {
  background-color: #434B56;
  height: 10px;
}

.widget__content .ant-slider-handle {
  width: 18px;
  height: 18px;
  border: solid 2px #434B56;
}

.widget__content .ant-tag {
  width: 30px;
  text-align: center;
  background: #e7e7e7;
  border: 1px solid #d0d0d0;
  border-radius: 15px;
  line-height: 17px;
  color: inherit;
  margin: 0;
}

.widget__content .ant-checkbox-group,
.widget__content .ant-checkbox-wrapper {
  color: inherit;
}
/*# sourceMappingURL=Main.css.map */