@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Changa+One);
// resets
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
    border: 0;
    margin: 0;
    padding: 0
}

blockquote {
    quotes: none
}

blockquote:before,
blockquote:after {
    content: '';
    content: none
}

body {
    background: #e6e6e6;
    color: #656d78;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    line-height: 21px;
}

a {
    &:hover {
        color: #378eef
    }
    &:link,
    &:visited,
    &:active {
        text-decoration: none;
        color: #378eef;
    }
}

input,
select,
.ant-input,
.ant-time-picker-input {
    margin: 0;
    display: inline-block;
    padding: 4px 11px;
    width: 100%;
    height: 31px;
    font-size: 14px;
    line-height: 1.5;
    color: #656d78;
    background: #f9f9f9;
    box-shadow: 0 1px 3px #f2f2f2;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: 0 1px 3px #f2f2f2;
    transition: all .3s;
}

.site-logo {
    width: 60px;
    opacity: .3;
    margin-right: 15px;
}

.site-title {
    font-family: 'Changa One', cursive;
    color: #434b56;
    font-size: 35px;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

// helpers
.no-visible {
    visibility: hidden;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.dotted-link {
    border-bottom: 1px dotted #378eef;
    width: max-content;
}

// colors
.color {
    &-primary {
        color: #656d78;
        &--bolder {
            color: #444c57;
        }
        &--bold {
            color: #434b56;
        }
        &--light {
            color: #7c8490;
        }
        &--lighter {
            color: #a8abb0;
        }
        &--lightest {
            color: #aeb5bd;
        }
        &--light-10 {
            color: #c7c9cd;
        }
    }
}

// fonts
.font-large {
    font-size: 18px;
}

.font-medium {
    font-size: 16px;
}

.font-small {
    font-size: 12px;
}